services:
  omada:
    build: .
    ports:
      - "8088:8088"
      - "8043:8043"
      - "29810:29810/udp"
      - "29811:29811"
      - "29812:29812"
      - "29813:29813"
      - "29814:29814"
    depends_on:
      - mongodb
    environment:
      - OMADA_MONGO_URI=mongodb://mongodb:27017/omada
    volumes:
      - ./data/omada:/opt/tplink/EAPController
    restart: unless-stopped

  mongodb:
    image: mongo:4.4
    ports:
      - "27017:27017"
    volumes:
      - ./data/db:/data/db
    restart: unless-stopped
